<div *ngIf="movie">
  <div>
      <span>NR:</span>
      <span><input [(ngModel)]="movie.nr" placeholder="nr" ></span>
  </div>
  <div>
      <span>Title:</span>
      <span><input [(ngModel)]="movie.title" placeholder="title" ></span>
  </div>
  <div *ngIf="tmdbMovie">
      <span>Original Title:</span>
      <span>{{tmdbMovie.original_title}}</span>
      <img src="https://image.tmdb.org/t/p/w92{{tmdbMovie.poster_path}}" />
  </div>
</div>
<span>{{id}}</span>
<button (click)="save()">Save</button>
<button (click)="goBack()">Back</button>

